# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

# Test results
TestResults/
[Rr]eports/
Screenshots/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Rider
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# WebDriverManager cache
.wdm/
